@font-face {
    font-family: 'senextrabold';
    src: url('sen-extrabold-webfont.eot');
    src: url('sen-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sen-extrabold-webfont.woff2') format('woff2'),
         url('sen-extrabold-webfont.woff') format('woff'),
         url('sen-extrabold-webfont.ttf') format('truetype'),
         url('sen-extrabold-webfont.svg#senextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

